body {
  background-image: url(assets/qqq.jpg);
  background-repeat: no-repeat;
  background-size: 100% 200%;
  text-align: center;
  font-size: larger;
  color: rgb(0, 187, 255);
}
button,
a {
  height: 40px;
  width: 40px;
  text-decoration: none;
  color: black;
}
